@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap');

body{
  background-color: black;
  scroll-behavior: smooth;
  height: 2000px;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

.nav-container{
  max-width: 1140px;
  margin: auto;
}
.row{
  display:flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}




/*section title*/
.section-title{
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom:40px;
}
.section-title h1{
  display: inline-block;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 10px;
  position: relative; 
}
.section-title h1:before{
  content: '';
  left:0;
  position: absolute;
  height: 2px;
  right:30%;
  background-color: #1b2866;
  bottom: 0px;
}
.text-center{
  text-align: center!important;
}
.text-left{
  text-align: left!important;
}
.text-right{
  text-align: right!important;
}



/*header*/
header{
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 10;
  padding: 0px 15px;
}
/*header.fixed{
  background-color: white;
  position: fixed;
}*/

header .row{
  justify-content: space-between;
  align-items: center;
}
header .brand-name{
  border: 1px solid white;
  padding: 2px 2px 2px 2px;
  width: 26px;
  height: 40px;
  box-shadow: inset 0 0 8px white;
}
header .brand-name a{
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  position: relative;
}
header.fixed .brand-name a{
  color: #0000;
}
header .navbar ul{
  list-style: none;
  padding: 0;
  margin: 0; 
}  
header .navbar ul li{
  display: inline-block;
  margin-left: 35px;
}
header .navbar ul li a{
  font-size: 15px;
  text-decoration: none;
  line-height: 35px;
  color: #ffffff;
  /*display: block;*/
  font: 600;
  position: relative;
}
header .navbar ul li a.active::before{
  content:'';
  height: 1px;
  background-color: #ffffff;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  opacity: 0.5;
}
header .navbar ul li a:hover{
  opacity: 0.5;
}

/* HEROOOOOOOOOOOOOOOOOOOOOO */
.hero{
  height: 100vh;
  width: 100%;
  background-color: #000;
  color: white;
}
.name{
  font-family: 'Poppins', sans-serif;
  font-size: 90px;
  width: 1000px; 
  text-shadow: 2px 2px 2px black;
}



.content{
  padding-top: 100px;
  padding-left: 50px;
  position: relative;
  left: 70px;
  top: 100px;
  z-index: 1;
}
.content h3{
  color: #1b2866;
  /*text-shadow: 0.1px 0.1px 0.1px white;*/

}
.hero{
  justify-content: center;
  align-items: center;

}
.no-gutters{
  height: 100vh;
}
.mypic{

  background-image: url('13.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

.title{
  font-size: 80px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 10px;
  padding-top: 10px;
  text-align: center;
}

.content p{
  text-shadow: 1px 1px black;

}
.heading-head{
  text-shadow: 1px 1px black;
}
/* .blur {
    width: 120%;
    margin-left: -10%;
    height: 200px;
    background-color: #030000;
    position: absolute;
    bottom: -180px;
    filter: blur(40px);
    z-index: 999;
} */

/* project*/

.container-fluid {
  width: 100%;
  padding-top: 100px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color: #888888; 
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; 
}
.col-md-12 .col-md-7{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; 
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; 
}

.heading-section h2 {
  font-size: 14vw;
  font-weight: 900;
  line-height: 1.0;
  font-family: "Poppins", Arial, sans-serif;
  text-transform: uppercase;
  text-align: left; }
  .heading-section h2 span {
    font-family: "Lora", serif;
    font-weight: 400;
    display: block;
    text-align: right; }

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important; }




/*chinmays project grid css */
.project-content{
  height: 1200px;
}
.title{
  font-size: 80px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 10px;
  padding-top: 40px;
}
.project-content .row{
  position: relative;
  height: 500px;
}
.project-content .container{
  position: absolute;
  left: 240px;
}
.project-content h2{
  position: relative;
  font-family: 'DM Sans', sans-serif;
  color: #f0f0f0;
  right: 180px;
  bottom: 120px;
  text-shadow: 1px 1px black;
}
.project-content h2 span{
  border-bottom: 2px white solid;
}
.project-content p{
  color: white;
  opacity: 0.5;
}
.project-content p:hover{
  opacity: 1;
}
.project-content img{
  width: 300px;
  height: 200px;
  opacity: 0.8;
}

.project-content .visit-git{
  color: grey;
  border-color: #1b2866;
}


/* message section */
.message-text{
  background-color: #1b2866;
  padding: 30px 15px;
}

.message-text .text h2{
  font-size: 20px;
  color: white;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 35px;
}
.message-text .button{
  margin-top: 10px;
}
.message-text .button a{
  border-radius: 4px;
  color: white;
  border:1px solid white;
  padding: 12px 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  background-color: black;
}
.message-text .button a:hover{
  background-color: white;
  color: #1b2866;
  cursor:pointer;
}


 
/* Achivements */

.achivements{
  padding: 100px 0px;
  background-color: black;
  height: 70vh;
}
.achievements-section{
  padding-top: 100px;
}
.achivements .section-title{
  line-height: 100px;
}
.achivements .section-title h1:before{
  left:30%;
}
.achivements .section-title p{
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 30px;
  overflow: hidden;
}
.achivements .section-title p span{
    display:inline-block;
    line-height: 100px;
    display: none;
}
.achivements .section-title p span.text-in{
  display: block;
  animation: textIn .3s ease;
}

@keyframes textIn{
  0%{
    transform: translateY(100%);  
  }
  100%{
    transform: translateY(0%);
  }
}
.achivements .animate-text{
  /*background-color: #343536;
  border:1px solid white;*/
  border-radius: 200px;
  margin: 100px;
  border-color: white;
}


/* Contact */
.contact{
  margin-top: 100px;
  padding: 100px 15px;
  background-color: #000409;
}
.contact .section-title h1:before{
  left:30%;
}

.contact form{
  width: 50%;
  margin: 0 auto;
}
.contact .form{
  padding-top: 30px;
  padding-bottom: 50px;
  /* background-color: #010101; */
  background-color: #000409;
  border-radius: 10px;
}
.contact .ques{
  margin-bottom: 150px;
}
.form-group{
  color: white;
  font-weight: 100;
}


/*footer*/
.footer{
  text-align: center;
  background-color: #010101;
  height: 250px;
}
.footer i:hover{
  opacity: 0.5;
}
.footer p{
  margin-top: 50px;
  letter-spacing: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: grey;
}
.icons i{
  padding-top: 100px;
  margin: 0 auto;
  padding-right: 50px;
}



/* RESPONSIVE */
@media screen and (max-width: 480px) {
.content{
    padding-top: 200px;
    padding-left: 20px;
    position: relative;
    left: 0;
    top: 220px;
    z-index: 1;
    opacity:0
  }
.content h3{
    font-size: 20px;
    font-weight: 100;
    color: white;
  }
.content h1{
  font-size: 35px;
  font-weight: 400;
  color: white;
}
.mypic{
  position:absolute;
  width:450px;
  top: 0;
  height: 100%;
}
.row{
  padding-top: 10px;
  padding-left: 10px;
}

.project-content{
  height: 1500px;
}
.project-content .row{
    position: relative;
    height: 500px;
    margin-bottom: 100px;
  }
.project-content h2{
  position: static;
  font-family: 'DM Sans', sans-serif;
  color: white;
}
  .project-content .container{
    position: absolute;
    text-align: center;
    left: 0px;
    right: 10px;
  }
  .project-heading{
    height: 200px;
    text-align: center;
    margin-bottom: 50px;
  }
 .sec-last{
   margin-top: 90px;
 }
 .last{
   margin-top: 180px;
   margin-bottom: 100px;
 }


 .achivements{
   margin-top: 150px;
   height: 50vh;
 }

 .achivements .section-title{
  line-height: 10px;
}
.achivements .section-title h1:before{
  left:30%;
}
.achivements .section-title p{
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  overflow: hidden;
  padding: 5px 5px 5px 5px; 
}
.achivements .section-title p span{
    display:inline-block;
    line-height: 50px;
    display: none;
}
.achivements .animate-text{
  background-color: #1b2866; 
  border-radius: 10px;
  margin: 30px;
}
.contact{
  margin-top: 50px;
  padding: 50px;
  background-color: #000409;
}
.contact form{
  width: 50%;
  margin: 0 auto;
}
.contact .form{
  padding-top: 100px;
  padding-bottom: 50px;
  border-radius: 10px;
}
.footer p{
  margin-top: 50px;
  letter-spacing: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  color: grey;
}
.icons i{
  padding-top: 100px;
  margin: 0 auto;
  padding-right: 20px;
}
.message-text{
  background-color: #1b2866;
  padding: 20px 15px;
  margin-top: 80px;
}
.message-text .text h2{
  font-size: 15px;
  color: white;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 20px;
}
.message-text .button{
  margin-top: 10px;
}
.message-text .button a{
  border-radius: 4px;
  color: white;
  border:1px solid white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  background-color: black;
}
}
